$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font: 400 16px/48px Georgia,Times,"Times New Roman",serif;

$primary-color: #2196f3;
$primary-color-light: #90CAF9;
$primary-color-dark: #1565C0;

$secondary-color: #FF9800;
$secondary-color-dark: #EF6C00;
$secondary-color-light: #FFCC80;

$grey-color: #424242;
$grey-color-light: #616161;
$grey-color-dark: #212121;